<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Evento</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card text-center>
        <ion-card-content>
          <ion-card-title>
            {{item?.nome}}
          </ion-card-title>
          <p>
            {{item?.nome}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarEvento(item, id)">Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirEvento()" color="danger">Excluir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
