<!--
  Generated template for the ListarSessaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center uppercase>Sessões</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button text-center ion-button (click)="cadastrarSessao()">
          Criar Sessão
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <button
            ion-item text-center *ngFor="let item of items" (click)="detalheSessao(item.id)">
            <h2>Data : {{item.dataSessao | date:'dd/MM/yyyy'}}</h2>
            <h2>Hora : {{item.dataSessao | date:'H:mm'}}</h2>
            <h2>Local : {{pico.nome}}</h2>
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
