<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Editar Sessão</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <form [formGroup]="formSessao" (ngSubmit)="salvarSessao()">
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"
                    [min]="dataCriacao"
                    max="2025"
                    ngModel
                    pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                    formControlName="dataSessao">
      </ion-datetime>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formSessao.valid" >Salvar</button>
  </form>
</ion-content>
