<!--
  Generated template for the ListarContatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center>Contatos</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>

</ion-content>
