<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes da Sessão</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card text-center>
        <ion-card-content>
          <ion-card-title>
            Data : {{item?.dataSessao | date:'dd/MM/yyyy'}}
          </ion-card-title>
          <p>
            Hora : {{item?.dataSessao | date:'H:mm'}}
          </p>
          <p>
            Local : {{pico.nome}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarSessao(item, id)" >Editar</button>
      </ion-col>
    <ion-col>
        <button ion-button block (click)="excluirSessao()" color="danger" >Excluir</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
