<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
        </ion-buttons>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="cadastrarUsuario()" [formGroup]="formCadastro">
    <ion-list>
      <ion-item>
        <ion-label fixed>
          Nome
        </ion-label>
        <ion-input type="text" ngModel name="nome" formControlName="nome" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>
          Email
        </ion-label>
        <ion-input type="email" ngModel formControlName="email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>
          Password
        </ion-label>
        <ion-input type="password" formControlName="password" ngModel name="password" [minlength]="6" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Data</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"
                      min="1900"
                      [max]="dataCriacao"
                      name="dataNascimento"
                      ngModel pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                                            formControlName="dataNascimento">

        </ion-datetime>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!formCadastro.valid">Cadastrar</button>
  </form>
</ion-content>
