
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Pico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card text-center>
    <ion-card-content>
      <ion-card-title>
        {{item?.nome}}
      </ion-card-title>
      <p>
         {{item?.descricao}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
