<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center>Adicionar Pico</ion-title>
  </ion-navbar>


</ion-header>

<ion-content>
  <form [formGroup]="formPico" (ngSubmit)="adicionar()">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Entrada</ion-label>
      <ion-input type="money" formControlName="entrada"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Rua</ion-label>
      <ion-input type="text" formControlName="endereco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Número</ion-label>
      <ion-input type="number" formControlName="numero"></ion-input>
    </ion-item>
    <button ion-button type="submit" >Salvar</button>
  </form>
</ion-content>